 <!-- ADD MAIN CONTENT -->
            <div class="content_main">
                <div class="container">
                    <div class="content_main_head">
                        <div class="content_main_heading">
                            <h2>Employees List</h2>
                        <select name="" id="">
                            <option value="">10</option>
                            <option value="">20</option>
                            <option value="">30</option>
                        </select>
                        <h6>of 10</h6>
                        </div>
                        <div class="content_main_action">
                            <!-- <a href=""> -->
                                <button  id="addBtn">Add Employee</button>
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="employee_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Gender</th>
                                    <th>DOB</th>
                                    <th>Country</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="employeeTable">
                                                                                               
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="pagination">
                <a class="double_left" href=""></a>
                <a class="single_left" href=""></a>
                <a class="active" href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">...</a>
                <a href="">10</a>
                <a class="single_right" href=""></a>
                <a class="double_right" href=""></a>
            </div>