 <!-- ADD MAIN CONTENT -->
            <div class="content_main">
                <div class="container">
                    <div class="content_main_head">
                        <div class="content_main_heading">
                            <h2>Employees List</h2>
                        <select name="" id="pageSize">
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>
                        <h6>of 10</h6>
                        </div>
                        <div class="content_main_action">
                            <!-- <a href=""> -->
                                <button  id="addBtn">Add Employee</button>
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="alert hide" id="alert">
                        <span class="material-symbols-outlined" id="alertIcon"></span>
                        <span class="msg" id="alertMsg"></span>
                    </div>
                    <div class="employee_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Gender</th>
                                    <th>DOB</th>
                                    <th>Country</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="employeeTable">
                                                                                               
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="pagination" id="pagination">
                
            </div>