<button id="let">dsfdds</button>
<div class="delete_bg">
    <div class="deleteEmp">
        <div class="deleteEmp_header">
            <h3>Delete Employee</h3>
            <button class="delete_close_btn"><i class="fa fa-close"></i></button>        
        </div>
        <div class="deleteEmp_content">
            <h4>Are you sure you want to delete this employee?</h4>
        </div>
        <div class="deleteEmp_actions">
            <button class="deleteEmp_actions_btn" id="delete_close_btn">Cancel</button>
            <button class="deleteEmp_actions_btn delbtn" id="dlt">Delete</button>
        </div>
    </div>
</div>