<hr class="content_divider">
<div class="content_footer">
    <div class="copywrite">
        <h3>&copy 2023 All Rights Reserved.Stackup</h3>
    </div>
    <div class="terms_privacy">
        <h3>Terms of Use</h3>
        <h3>Privacy Policy</h3>
    </div>
</div>
</div>
</div>



