  <!-- CONTENT WRAPPER -->
  <div class="content_wrapper">
    <div class="content_navbar">
        <div class="breadcrumb">
            <ul>
                <li class="navbarLi"><a href="/html/index.html">Dashboard</a></li>
                <li class="navbarLi"><a href="/html/employee.html">Employee</a></li>
            </ul>
            <div class="nav_head"><h3>Employees</h3></div>
        </div>
        <div class="content_navbar_action">
            <div class="box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="Search" placeholder="Search">
                <img src="img/Avatar.png" alt="">
            </div>
        </div>
    </div>