<div class="loginLDiv">
    <div class="loginDiv">
        <div class="loginHead"><h1>Log in</h1></div>
        <form action="/login" method="POST" id="loginForm">
            <div class="input-group">
                <!-- <label for="email">Email:</label> -->
                <input type="email" name="email" id="loginEmail" placeholder="Email">
                <div class="error" id="emailErr" style="color: red; font-size: 16px; font-weight: bold;"></div>
            </div>
            <div class="input-group">
                <!-- <label for="password">password:</label> -->
                <input type="password" name="password" id="loginPassword" placeholder="password">
                <div class="error" id="passwordErr" style="color: red; font-size: 16px; font-weight: bold;"></div>
            </div>
            <div class="register">
                <button>login</button>
            </div>
        </form>
    </div>
    <!-- <a href="/register">Register</a> -->
    <div class="loginImg">
        <img src="/img/Vectors.png" alt="">
    </div>

</div>


<script>

    loginForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const LoginForm = document.getElementById("loginForm");
        let username = document.getElementById("loginEmail");
        let password = document.getElementById("loginPassword");

        validateForm();

        if (username.value != "" || password.value != "") {
            LoginForm.submit();
        }
        // handle submit
    });

</script>