<div class="loginLDiv">
    <div class="loginDiv">
        <div class="loginHead"><h1>Register</h1></div>
    <form action="/register" method="POST" id="registerForm">
        <div class="input-group">
            <div class="input-group">
                <!-- <label for="username">username:</label> -->
                <input type="text" name="username" id="username" placeholder="Username">
                <div class="error" id="usernameErr" style="color: red; font-size: 16px; font-weight: bold;"></div>
            </div>
            <div class="input-group">
                <!-- <label for="email">Email:</label> -->
                <input type="email" name="email" id="email" placeholder="Email">
                <div class="error" id="emailErr" style="color: red; font-size: 16px; font-weight: bold;"></div>
            </div>
            <div class="input-group">
                <!-- <label for="password">password:</label> -->
                <input type="password" name="password" id="password" placeholder="password">
                <div class="error" id="passwordErr" style="color: red; font-size: 16px; font-weight: bold;"></div>
            </div>
            <div class="register">
            <button>Register</button>
        </div>
    </form>
    </div>
    
</div>
<div class="loginImg">
    <img src="/img/Vectors.png" alt="">
</div>

<script>


function printError(elemId, hintMsg) {
    document.getElementById(elemId).innerHTML = hintMsg;
}


function registerValidation(){
    const regUsername = document.getElementById('username').value;
    const regEmail = document.getElementById('email').value;
    const regPassword = document.getElementById('password').value;

    var usernameErr = emailErr = passwordErr = true ;

    if (regUsername == "") {
        printError("usernameErr", "Please enter your Username");
    } else {
        var regex = /^[a-zA-Z\s]+$/;
        if (regex.test(regUsername) === false) {
            printError("usernameErr", "Please enter a valid Username");
        } else {
            printError("usernameErr", "");
            usernameErr = false;
        }
    }

    if (regEmail == "") {
        printError("emailErr", "Please enter your email address");
    } else {
        var regex = /^([a-zA-Z0-9\.-]+)@([a-zA-Z0-9-]+).([a-z]{2,20})$/;
        if (regex.test(regEmail) === false) {
            printError("emailErr", "Please enter a valid email address");
        } else {
            printError("emailErr", "");
            emailErr = false;
        }
    }

    if (regPassword == "") {
        printError("passwordErr", "Please enter your password");
    } else {
        var regex = /^[a-zA-Z\s]+$/;
        if (regex.test(regPassword) === false) {
            printError("passwordErr", "Please enter a valid password");
        } else {
            printError("passwordErr", "");
            passwordErr = false;
        }
    }
}


registerForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const registerForm = document.getElementById('registerForm');
    let username = document.getElementById("username");
    let email = document.getElementById("email");
    let password = document.getElementById("password");

    registerValidation();

    if ( email.value != "" || username.value != "" || password.value != "") {
        registerForm.submit();
        }
}) 


    
</script>