 <!-- PAGE WRAPPER -->
 <div class="wrapper">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2 class="sidebar_branding">Employee <br> <span>Management</span></h2>

        <hr class="sidebar_divider">

        <nav class="sidebar_nav">
            
        <ul>
            <li class="Dashboard">
                <a class="" href="/html/index.html">
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="employee">
                <a class="" href="/html/employee.html">
                    <span>Employee</span>
                </a>
            </li>
            <li class="my_profile">
                <a class="" href="">
                    <span>My Profile</span>
                </a>
            </li>
            <!-- <form action="/logout" method="POST">
            <li class="Logout">
                <a href="">
                    <span>Logout</span>
                </a>
            </li>
        </form> -->
        <form action="/logout" method="POST">
            <button>logout</button>
        </form>
        </ul>    

        </nav>

        <hr class="sidebar_divider">

        <div class="sidebar_footer">
            <!-- <span>Powered by <img src="/img/image 1.png" alt=""></span> -->
            <h3>Powered by</h3>
            <img src="/img/image 1.png" alt="">
        </div>

    </div>
    <!-- SIDEBAR END-->