body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.sidebar_branding{
    margin: 0;
    font-size: 23px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 29px 0px 22px 29px;
}
.sidebar{
    display: flex !important;
    flex-direction: column !important;
    background: linear-gradient(149.96deg, #301F81 12.51%, #0F0441 89.53%) !important;
    /* height: 100vh !important; */
    line-height: 25px;
}
.wrapper{
    display: flex;
    height: 100vh;
}
.sidebar_nav{
    flex: 1 !important;
}
.sidebar_branding span{
    font-size: 20px;
    font-weight: lighter;
} 
/* .sidebar_nav ul::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    display: block;
    margin-top: 10px;
} */
.sidebar_divider{
    width: 100%;
    border: 1px solid #FFFFFF2B;
    /* background-color: #FFFFFF; */
}
.sidebar_nav{
    padding: 42px 0 0 15px;
}
.sidebar_nav ul li{
    list-style: none;
}
.sidebar ul{
    padding-left: 0px;
}
a{
    text-decoration: none !important;
}
li{
    padding-bottom: 36px;
}
li a span{
    color: white;
    opacity: 70%;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 36px;
}
.Dashboard::before{
    content: "\f015";
    color: white;
    opacity: 70%;
    font-family: "FontAwesome";
    margin: 0 13px 0 26px;
}
.employee::before{
    content: "\e473";
    color: white;
    opacity: 70%;
    font-family: "FontAwesome";
    margin: 0 13px 0 26px;
}
.my_profile::before{
    content: "\f007";
    color: white;
    opacity: 70%;
    font-family: "FontAwesome";
    margin: 0 13px 0 26px;
}
.Logout::before{
    content: "\f023";
    color: white;
    opacity: 70%;
    font-family: "FontAwesome";
    margin: 0 13px 0 26px;
}
.sidebar_footer{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 15px 7px 15px 25px;
    width: 100%;
}
.sidebar_footer h3{
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}
.sidebar_footer img{
    color: white;
    width: 90px;
    height: 30px;
    padding-right: 30px;
}
.breadcrumb ul  {
    display: flex;
}
.breadcrumb ul li{
    list-style: none;
}
.breadcrumb ul li::after{
    content: "\2f";
    font-family: "FontAwesome";
    color: black;
    font-size: 18px;
    margin: 0 3px;
}
.breadcrumb ul li a{
    color: #707EAE;
    font-size: 14px;
    font-weight: 600;
}
.navbarLi{
    padding: 0;
}
.nav_head h3{
    font-size: 33px;
    font-weight: 900;
    color: #2B3674;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.box i{
    width: 10px;
    position: absolute;
    left: 25px;
}
.content_wrapper{
    width: 100%;
    background-color: #F4F7FE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content_navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    box-shadow: 14px 17px 40px 4px #7090B014;
}
.box input{
    width: 230px;
    height: 43px;
    border-radius: 33px;
    border: none;
    background: #F4F7FE;
    padding-left: 42px;
    margin-left: 10px;
}
.box img{
    margin-right: 10px;
}
.box img::before{
    content: "\f023";
    font-family: "FontAwesome";
    color: black;
    font-size: 100px;      
}
.content_footer{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 20px 7px 20px 25px;
}
.terms_privacy{
    display: flex;
    gap: 22px;
    margin-right: 20px;
}
.copywrite h3{
    font-size: 14px;
    font-weight: 700;
    color: #707EAE;
}
.terms_privacy h3{
    font-size: 14px;
    font-weight: 700;
    color: #707EAE;
}
.content_divider{
    color: #FFFFFF2B;
}
.content_main{
    flex: 1;
    padding: 0 25px 15px 25px;
}
.content_main_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.content_main_heading{
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 15px;
}
.content_main_heading h2{
    size: 24px;
    color: #2B3674;
    font-weight: 900;
}
.content_main_heading select{
    padding: 8px 15px;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
}
.content_main_heading h6{
    font-size: 14px;
    color: #333333;
}
.content_main_action button{
    background-color: #4318FF;
    padding: 13px 23px;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 15px;
}
table{
    width: 100%;
    text-align: center;
    padding-top: 15px;
}
td{
    border-top: 1px solid #D3D8E2;
    padding: 8px 0 10px 0;
    color: #2B3674;
    font-size: 14px;
    font-weight: 700;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
}
td img{
    margin-right: 8px;
}
th::after{
    content: "\f107";
    font-family: "FontAwesome";
    color: #8b95b7;
    font-size: 14px;
    margin-left: 10px;
}
th{
    font-size: 14px;
    font-weight: 900;
    color: #8b95b7;
}
td button{
    padding: 5px 10px;
    border: none;
    background-color: #EBEFF8;
    color: #4318FF;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
}
.pagination a {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 8px; 
    margin-right: 5px;
    background-color: white;
    border: none;
    font-weight: 600;
}
.pagination{
    display: flex;
    justify-content: end;
    margin: 8px;
}
.double_left::after{
    content: "\f100";
    font-family: "FontAwesome";
    color: black;
    font-size: 14px;    
}
.double_right::after{
    content: "\f101";
    font-family: "FontAwesome";
    color: black;
    font-size: 14px;    
}
.single_left::after{
    content: "\f104";
    font-family: "FontAwesome";
    color: black;
    font-size: 14px;    
}
.single_right::after{
    content: "\f105";
    font-family: "FontAwesome";
    color: black;
    font-size: 14px;    
}
.active{
    background-color: #4318FF !important;
    color: white;
}

/* .modal */
.add_modal_bg,.edit_modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    visibility: hidden;
    opacity: 0;
}
.add_modal {
    /* background-color: white; */
    /* width: 40%;
    height: 30%; */
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    flex-direction: column;
}
.modal_container{
    max-width: 630px;
    margin: 10px auto;
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
}
.modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}
.bg_active {
    visibility: visible;
    opacity: 1;
}
.edit_active {
    visibility: visible;
    opacity: 1;
}
.add_modal_header{
    display: flex;
    justify-content: space-between;
}
.form-label{
    display: block;
}
.col_3{
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 24px; */
}
.col_2 {
    display: grid;
    grid-template-columns: auto auto;
}
.col{
    display: grid;
    grid-template-columns: 1fr;
}
.card{
    border: 2px dashed #B2BAD0;
    text-align: center;
    border-radius: 13px;
    margin-top: 10px;
    padding: 15px;
    background-color: #FAFCFE;
}
.add_modal_header h3{
    color: #2B3674;
    font-size: 24px;
    font-weight: 700;
}
.add_modal_header_action button i{
    padding: 10px;
    color: #4318FF;
    font-size: 15px;
}
.add_modal_header_action button{
    background-color: #F4F7FE;
    border-radius: 10px;
    border: none;
}
.upload_icon{
    color: #4318FF;
    font-size: 24px;
}
.upload h6{
    font-size: 16px;
    color: #4318FF;
    font-weight: 700;
}
.upload .png{
    font-size: 12px;
    color: #8F9BBA;
    font-weight: 500;
}
.col_3{
    padding-top: 10px;
}
.form-label{
    font-size: 13px;
    color: #2B3674;
    font-weight: 900;
    margin: 6px 0 6px 0;
}
.form-control, .dropdown{
    width: 80%;
    padding: 10px 20px;
    border: 1px solid #B6BBC7;
    border-radius: 16px;
}
.fileup{
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.fileup_change{
    visibility: hidden;
    opacity: 1;
}
.col_2_width{
    width: 85%;
}
.col_100{
    width: 93%;
}
.gender h5{
    margin: 10px 0 15px 0;
}
.button_color{
    padding: 15px 30px;
    font-size: 14px;
    border: none;
    color: #2B3674;
    background-color: #FAF9FF;
    border-radius: 15px;
    font-weight: 700;
}
.add_modal_footer_actions {
    display: flex;
    justify-content: end;
    padding-top: 22px;
    gap: 10px;
}
.button_primary{
    background-color: #4318FF;
    color: white;
}
.edit_container{
    max-width: 735px;
}
.edit_container_main_img{
    position: relative;
}
.edit_container_emp_img{
    position: absolute;
    bottom: -48px;
    left: 305px;
}
.edit_container_emp_img img{
    border-radius: 60px;
    border: 4px solid white;
}
.name_email {
    text-align: center;
    /* margin-top: 70px; */
    display: block;
    padding: 0 ;
    border-radius: 0;
}
.details{
    margin-top: 70px;
}
.name_email h3{
    color: #707eae;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
}
.details_view h3{
    color: #707eae;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
}
.name_email  h4{
    color: #2B3674;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
}
.details_view h4{
    color: #2B3674;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
}
.details_view{
    box-shadow: 0px 18px 40px 0px #7090B01F;
    background-color: white;
    padding: 11px 0 10px 22px;
    border-radius: 16px;
}
.details_col_3{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 20px;
}
.details_col_2{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
    gap: 20px;
}
.details_actions button{
    padding: 17px 42px;
    background-color: #4318FF;
    color: white;
    border: none;
    border-radius: 16px ;
    font-size: 15px;    
}
.details_actions{
    display: flex;
    justify-content: end;
}
.asdf{
    width: 10px;
    height: 10px;
    background-color: black;
}
.buttonDropdown{
    /* visibility: hidden;
    opacity: 0  ; */
    background-color: white;
    display: grid;
    border: #D3D8E2;
    border-radius: 14px;
    margin-top: 10px;
    position: absolute;
    right: 49px;
    margin-top: 10px;
    box-shadow: 0px 1px 4px 0px #1010311F;
    padding: 10px 12px;
    /* text-align: left; */
}
.action{
    background-color: white;
    color: #2B3674;
    /* border-radius: 0; */
    /* margin-left: 10px; */
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}
.absolute{
    position: relative;
}
#buttonDropdown_action{
    font-size: 14px;
    color: #8b95b7;
    margin-right: 10px;
}
.fdsa{
    visibility: visible;
    opacity: 1;
}
.deleteEmp{
    width: 690px;
    background-color: white;
    padding: 0 10px;
    border-radius: 20px;
}
.deleteEmp_header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.deleteEmp_header h3{
    font-size: 22px;
    font-weight: 700;
    color: #2b3674;
}
.delete_close_btn{
    background-color: #F4F7FE;
    padding: 7px 9px;
    border: none;
    border-radius: 10px;
}
.delete_close_btn i{
    color: #4318FF;
    font-size: 14px;
}
.delete_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);  
    visibility: hidden;
    opacity: 0;
}
.deleteEmp_content h4{
    color: #2B3674;
    font-weight: 500;
    font-size: 18px;
    padding: 27px 0;
}
.deleteEmp_actions_btn{
    padding: 14px 36px;
    color: #FAF9FF;
    border-radius: 16px;
    border: none;
    color: #2B3674;
    font-size: 15px;
    font-weight: 700;
}
.delbtn{
    background-color: #EB506C;
    color: white;
}
.deleteEmp_actions{
    display: flex;
    justify-content: end;
    padding-bottom: 28px;
    gap: 10px;
}
.card_none{
    display: none;
}
.alert{
    background-color: red;
}
.edit_wrapper{
    display: flex;
}
.delete_active{
    visibility: visible;
    opacity: 1;
}

.selected{
    visibility: visible;
    opacity: 1;
}
.edit_success_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
}
.edit_success{
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 300px;
    border: 1px solid greenyellow;
    border-radius: 10px
}
.edit_success_active{
    visibility: visible;
    opacity: 1;
}
.edit_success_icon i {
    background-color: transparent;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid greenyellow;
    color: greenyellow;
    font-size: 20px;
    margin-bottom: 10px;
}
.edit_success h2{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}
.edit_success button{
    padding: 5px 50px;
    background-color: greenyellow;
    color: white;
    border: none;
}
#let, #edit_modal_btn{
    display: none;
}

/* span{
    display: block;
    margin-left: 20px;
    margin-top: 5px;
} */
.label_block{
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}
.uploadRemove{
    visibility: hidden;
    opacity: 0;
}